body {
    background-color: #f8edeb;
}
#hindi {
    color: #050544;
    text-align: center;
    font-family: hindi;
    font-size: 2em;
}
h1 {
    color: #050544;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 5vw+3em;   
}
@font-face {
    font-family: hindi;
    src:url(Kruti_Dev_010.ttf)
}